@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --bg: rgb(250, 250, 250);
    --bg2: rgb(235, 235, 235);
    --text: rgb(30, 30, 30);
    --color1: rgb(200, 200, 200);
  }
  

* {
    transition: color 0.1s linear, background-color 0.1s linear;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 6rem;
    background-color: var(--bg);
}

.grid {
    margin-top: 1rem;
    display: grid;
    gap: 2rem;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
    transition: all 0.3s ease-in-out;
}



.container {
    width: 100%;
    aspect-ratio: 500 / 620;

    border: 3px solid var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 1rem;
    transition: transform 0.25s ease-in-out;
}

.container:hover {
    transform: scale(1.03);
    z-index: 2;
}

.cover {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 70%;
    padding: 0.5rem;
    
}


.container-title,
.container-sub-title {
    font-weight: 400;
    color: var(--text);
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    width: 100%;
}

.container-title {
    font-size: 1.6rem;
}

.container-sub-title {
    font-size: 0.9rem;
}

.title {
    font-size: 2.5rem;
    color: var(--text);
    display: inline-block;
    white-space: nowrap;
    margin-top: -10rem;
}

.sub-title {
    margin-bottom: 1rem;
    font-size: small;
    color: var(--text);
    font-weight: 300;
    
    white-space: nowrap;
}

.sun {
    transition: transform 0.2s ease-in-out;
    position: absolute;
    color: var(--text);
    left: 90%;
    top: 8%;
    transform: scale(2);
}

.sun:hover {
    transform: scale(2.1);
}

.sun:active {
    transform: scale(1.9);
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 2 columns at medium width */
@media (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    body {
        padding: 20px;
    }
}

/* 1 column on small screens */
@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
        padding: 0px;
    
    }
    body {
        padding: 20px;
    }
}