@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

:root {
  --shake: 10;
}

html {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  -webkit-overflow-scrolling: none;
  overscroll-behavior: none;
  font-family: 'Comic Neue', "Comic Sans MS", "Comic Sans", cursive;
  background-color: black;
  background-image: url("https://i.makeagif.com/media/5-29-2016/TWDV9m.gif");
  user-select: none;
}

.bottomRight {
  position: fixed;
  bottom: 0;
  right: 0;
}

.bottomRightText {
  font-size: 2rem;
  opacity: 20%;
  transition: all 0.1s linear;
}

.bottomRightText:hover {
  opacity: 100%;
}

div {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2rem;
  background: linear-gradient(to right,
    #ef5350 0%, 
    #f48fb1 10%, 
    #7e57c2 20%, 
    #2196f3 30%, 
    #26c6da 40%, 
    #43a047 50%, 
    #eeff41 60%, 
    #f9a825 70%, 
    #ff5722 80%);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

#shadowBox {
  background-color: rgba(0, 0, 0, 0.2);
  border: 3px solid;
}

.rainbow {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  letter-spacing: 5px;
}

.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

.rotating {
  position: absolute;
  user-select: none;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 100px;
  z-index: -100;
  aspect-ratio: 1/1;
  object-fit: contain;
  will-change: transform;
}

#counter {
  animation: shake 0.2s infinite;
}

@keyframes rainbow_animation {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(calc(var(--shake) * 1deg)); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(calc(var(--shake) * -1deg)); }
  100% { transform: rotate(0deg); }
}