html, body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    height: 100%;
  }
  
  body {
    background-color: black;
    width: 100%;
    height: 100%;
  }
  
body{
    background-color: black;
    padding: 0;
    margin: 0;
}
*{
   font-family: monospace;

    color: green;
}
textarea{
    background-color: black;
    width: 100%;
    border: none;
    background: linear-gradient(to top, #000000, #000000,  #101010 , #171717);
    background-size: cover;
    background-size: 100% 1px;
    height: 100%;

    word-wrap: break-word;
    resize: none;
    white-space: pre-wrap;

    outline: 0;
    text-decoration: none;
    
}

